<li role="button" class="list-group-item list-group-item-action d-flex justify-content-between align-items-start" {{action discust result.customerid}}>
    <div class="ms-2 me-auto">
      <div class="fw-bold">{{result.customername}}</div>
      city:{{result.city}}<br>
    </div>
    <div style="margin-right:25vw">
       waiting for Aprroval    
    </div>
                   
    <span class="badge bg-primary rounded-pill">1</span>
  </li>